[user]
	name = Øyvind Strømmen
	email = insula.ventus@gmail.com
[core]
	autocrlf = input
	excludesfile = ~/.git_global_exclusions
[credential]
	helper = store
[url "git@ssh.dev.azure.com:v3/Avinor/"]
        insteadOf = https://dev.azure.com/Avinor/
[includeIf "gitdir:~/work/avinor/"]
    path = ~/work/avinor/.gitconfig
